* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.book {
    margin: 3% 7%;
    color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
        list-style-type: none;
        display: flex;
        gap: 20px;

        div {
            display: flex;
        }
    }
}